<h2>Viewing Sales Groups</h2>
<table>
  <thead>
    <tr>
      <th>Unique Identifier</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_groups.each do |sales_group| %>
      <tr>
        <td><%= sales_group.unique_id %></td>
        <td><%= sales_group.description %></td>
        <td><%= link_to 'Show', sales_group %></td>
        <td><%= link_to 'Edit', edit_sales_group_path(sales_group) %></td>
        <td><%= link_to 'Destroy', sales_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
