<table class="flat-table flat-table-3">
  <thead>
    <tr>
      <th>Sales Rep</th>
      <th>Sales Group</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @sales_reps.each do |sales_rep| %>
      <tr>
        <td><%= sales_rep.last_name %>, <%= sales_rep.first_name %> (<%= sales_rep.unique_id %>)</td>
        <td><%= sales_rep.sales_group ? sales_rep.sales_group.unique_id : "N/A" %></td>
				<td><%= sales_rep.location ? sales_rep.location.name : "N/A" %></td>
      </tr>
    <% end %>
  </tbody>
</table>